extends content_layout

block content
    - console.log(data)
    div(class='container')

        div(class='row' id='currentBookRow')

            div(class="col")

                div(class='bigCard')
                    div(class="big-card-block")
                        p(class="card-text author")= about
