extends content_layout

block content
    div(class="memberWrapper")
        div(class="container")
            div(class="row")
                div(class="col-sm-12 col-sm-offset-0 col-lg-4 col-lg-offset-0" style="height:500px")
                    div(id="memberHeadshot" style="background-image: url('http://www.ngacres.com/wp-content/uploads/allen_greenwell_wide.png')")
                div(class="col-sm-12 col-sm-offset-0 col-lg-8 col-lg-offset-0" style="height:500px")
                    div(class="memberInfo")
                        div(id="memberName") Allen Greenwell

                        div(id="memberDescription") AGBC President and Site Administrator
                        a(id="memberGoodreads" class="btn btn-primary" role="button" href="mailto:agreeenwell@ngacres.com" target="_blank")
                            | SEND EMAIL

