extends content_layout

block content
    div(class='container')
        div(class="row")
            -
                var list = data
            each item in list
                div(class="col")
                    a(class='nostyle' href="/members/" + item.id + "" target='_self')
                        div(class='memberCard card-center')
                            div(class="headshot" style='background-image: url(' + item.headshot + ');')


                            div(class="big-card-block")
                                div(class='container')
                                    div(class='row')
                                        div(class='col-3')
                                            div(class='agbcBadge count' title=item.reviewsCount + " Reviews")=item.reviewsCount
                                        div(class='col-6')
                                            h4(class="card-title")= item.name
                                        div(class='col-3')
                                            if item.badges == "Master"
                                                div(class="agbcBadge master" title="Rank: " + item.badges)
                                            if item.badges == "Grand Master"
                                                div(class="agbcBadge gMaster" title="Rank: " + item.badges)
                                            if item.badges == "Journeyman"
                                                div(class="agbcBadge journeyman" title="Rank: " + item.badges)
                                            if item.badges == "Apprentice"
                                                div(class="agbcBadge apprentice" title="Rank: " + item.badges)
                                p(class="card-text")= item.summary
                                p(class="card-text")
                                small(class="text-muted") Joined&nbsp;
                                    = item.join
